# Style reference: https://webkit.org/code-style-guidelines/
BasedOnStyle: WebKit
NamespaceIndentation: None
SpaceAfterTemplateKeyword: false
Cpp11BracedListStyle: Block
RemoveBracesLLVM: true
ColumnLimit: 120
AlignAfterOpenBracket: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: AlwaysOnePerLine
BinPackLongBracedList: false
